/* externas */
.arriba-azul{
    padding: 1em;
    margin-bottom: 2em;
    margin-top: 1em;
    border-radius: 10px;
}
.arriba-azul h1{
    color:#fff;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none !important;
}
.nombre-cliente{
    color: #fff;
    font-size: 1rem;
font-weight: 800;
text-align: center;
text-transform: uppercase;
letter-spacing: .05rem;
    padding-left: .5em;
    padding-right: 4em;
    text-decoration:none;
}
.no-decoration{
    text-decoration:none !important;
    color: #fff;
}
.caseopen{
        color: #f00 !important;
    font-weight: bold;
}
.casedev{
        color: #4f4 !important;
}
.caseclosed{
    color: #ccc !important;
    font-weight:lighter;
}